
<div class="panel panel-primary">
	<div class="panel-heading" align="center">
		<h1>My-Contacts</h1>
	</div>
	<button (click)="newContact()" class="btn btn-outline-primary mb-1 btn-sm">New</button>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let contact of contacts">
					
					<td>{{contact.name}}</td>
					<td>{{contact.email}}</td>
					<td>{{contact.phone}}</td>
					<td><span class="float-right">
							<button (click)="editContact(contact)"
								class="btn btn-outline-warning mb-1 btn-sm">Edit</button>

							<button (click)="deleteContact(contact)"
								class="btn btn-outline-danger mb-1 btn-sm">Delete</button>

					</span></td>

				</tr>
			</tbody>
		</table>
	</div>
</div>
