<div class="container">
    <h1>Delete Contact</h1>
    <form>
        <div class="form-group">
            <label for="name">Name</label> <input type="text" disabled="true"
                class="form-control" id="name"  [(ngModel)]="contact.name"
                name="name" #name="ngModel">
           
        </div>
        <div class="form-group">
            <label for="email">Email</label> <input type="text" disabled="true"
                class="form-control" id="email" [(ngModel)]="contact.email"
                name="email" #email="ngModel">
            
        </div>
        <div class="form-group">
            <label for="phone">Phone</label> <input type="text" disabled="true"
                class="form-control" id="phne" required [(ngModel)]="contact.phone"
                name="phone" #phone="ngModel">
           
            <button class="btn btn-danger" (click)="deleteContact()">Delete</button>
        </div>
    </form>
</div>